*,
*::before,
*::after {
  box-sizing: border-box;
}

/* GLOBAL */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  color: #3f292b;
}

main {
  line-height: 1.6;
}

h2 {
  font-family: "Merriweather", serif;
  font-size: 2.5rem;
}

.indented-section {
  padding: 3rem 2rem 6rem 2rem;
  background-color: #fdf7ec;
}

/* HEADER / MENU / NAV */
header {
  display: flex;
  justify-content: flex-start;
  background: #3f292b;
}

.logo {
  margin-left: 1.5rem;
  width: 10%;
  color: white;
}

nav {
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

nav li {
  padding: 1rem 1.2rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  position: relative;
}

nav a::after {
  content: "";
  position: absolute;
  height: 1px;
  bottom: 7px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 50%;
  background: white;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav a:hover::after {
  width: 80%;
  background: orange;
}

.nav-toggle {
  position: absolute;
  right: 2rem;
  top: 2rem;
}

.nav-toggle-label {
  position: absolute;
  right: 1.5rem;
  top: 2.4rem;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

@media only screen and (max-width: 940px) {
  header {
    flex-direction: column;
  }

  header > nav > ul {
    flex-direction: column;
    padding: 0rem;
    margin-top: 0;
  }

  nav > ul > a > li {
    padding: 0.75rem 0.5rem;
  }

  .nav-toggle:checked ~ nav {
    height: 0px;
    opacity: 0;
  }

  input {
    opacity: 0;
  }
}

@media only screen and (min-width: 940px) {
  .nav-toggle-label {
    display: none;
  }

  input {
    display: none;
  }
}

/* HERO */

.hero {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: left;
  height: 60vh;
  color: #fff;
  background-color: #db7f67;
  background-image: url("./images/pretzel-background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(241, 171, 134, 0.5);
}

.hero-brand-name {
  font-family: "Merriweather", serif;
  font-size: 1.5rem;
  padding: 8rem 2rem 0rem 10rem;
  text-align: left;
  margin: 0px;
}

.hero-text {
  font-family: "Martel", serif;
  font-size: 3rem;
  padding: 2rem 0rem 0rem 10rem;
  max-width: 60rem;
  margin: 0px;
}

.hero-cta-container {
  display: flex;
  justify-content: flex-start;
}

.hero-cta {
  border: 2px solid #f7dba7;
  background: #f7dba7;
  border-radius: 5px;
  width: 10rem;
  font-size: 1.2rem;
  text-decoration: none;
  text-align: center;
  padding: 0.5rem 0.5rem;
  margin: 3rem 10rem;
  color: #3f292b;
}

.hero-cta:hover,
.hero-cta:focus {
  border: 2px solid rgba(241, 171, 134, 0.2);
  background-image: linear-gradient(rgba(241, 171, 134, 0.2) 0 0);
}

@media only screen and (max-width: 940px) {
  .hero > h1 {
    font-size: 2rem;
  }

  .hero {
    justify-content: center;
    align-items: center;
  }

  .hero-text {
    text-align: center;
    padding: 0.5rem;
  }

  .hero-brand-name {
    font-family: "Merriweather", serif;
    font-size: 1.5rem;
    padding: 0.5rem;
    text-align: center;
    margin: 0px;
  }
}

/* PRODUCTS */
.products {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  text-align: center;
}

.product-item {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  margin: 1rem;
}

.product-item > picture > img {
  border-radius: 100%;
}

.product-item > h3 {
  margin: 0rem;
}

/* HISTORY */

.history {
  background-color: #c57b57;
  color: #fdf7ec;
  text-align: center;
  padding: 6.5rem 10rem;
}

.history-text {
  padding: 0rem 1rem;
}

@media only screen and (max-width: 940px) {
  .history {
    padding: 4rem 1rem;
  }
}

/* DEPARTMENTS */
.department {
  width: 70%;
  max-width: 80vw;
  margin: auto;
  padding-bottom: 3rem;
}

.department-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  padding: 0em;
}

@media only screen and (max-width: 940px) {
  .department {
    width: 100%;
  }

  .department-container {
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
}

.department-picture {
  flex: 1;
  max-width: 200px;
}

.department-text > h3 {
  padding: 0rem 2rem;
  margin: 0;
}

.department-text > p {
  padding: 0rem 2rem;
}

/* CAREERS */

.careers-section {
  background-color: #990D35;
  padding: 3rem 2rem 6rem 2rem;
  color: #fdf7ec;
}

.careers {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  text-align: center;
}

.careers > section {
  padding: 2rem;
  max-width: 15rem;
}

.careers-cta-container {
  display: flex;
  justify-content: center;
}

.careers-cta {
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  border-radius: 50px;
  font-size: 1.2rem;
  text-decoration: none;
  padding: .75rem 1.5rem;
}

.careers-cta:hover {
  border: 2px solid #fff;
  background: #fff;
  color: #990D35;
}

/* FOOTER */
.page-footer {
  background-color: indianred;
  margin: 0rem;
  padding: 4rem 2rem;;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.page-footer > nav > ul {
  margin: 0rem;
}
