*,
*::before,
*::after {
  box-sizing: border-box;
}


/* GLOBAL */
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

main {
  padding: 1rem;
  line-height: 1.6;
}

img {
  border-radius: 10px;
}

h2 {
  font-size: 2.5rem;
}

.page-section {
  padding-bottom: 2.5rem;
}


/* HEADER */
header {
  display: flex;
  justify-content: flex-start;
  background: #3F292B;
}

.logo {
  margin-left: 1.5rem;
  width: 10%;
  color: white;
}

nav {
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

nav li {
  padding: 1rem 2rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

nav a:hover {
  color: #000;
}

.nav-toggle {
  position: absolute;
  right: 2rem;
  top: 2rem;
}

.nav-toggle-label {
  position: absolute;
  right: 1.5rem;
  top: 2.4rem;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

@media only screen and (max-width: 940px) {
  header {
    flex-direction: column;
  }

  header > nav > ul {
    flex-direction: column;
    padding: 0rem;
    margin-top: 0;
  }

  nav > ul > a > li {
    padding: 0.75rem 1.5rem;
  }

  .nav-toggle:checked ~ nav {
    height: 0px;
    opacity: 0;
  }

  input {
    opacity: 0;
  }
}

@media only screen and (min-width: 940px) {
  .nav-toggle-label {
    display: none;
  }

  input {
    display: none;
  }
}

/* HERO */

.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
  background-color: #DB7F67;
}

.hero > h1 {
  font-size: 3vw;
}

.hero-text {
  padding: 15rem;
  text-align: center;
}

@media only screen and (max-width: 940px) {
  .hero > h1 {
    font-size: 8vw;
  }
}

/* PRODUCTS */

.products {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  text-align: center;
}

.product-item {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  margin: 1rem;
}

.product-item > h3 {
  margin: 0rem;
}


/* HISTORY */
.history-text {
  padding: 0rem 1rem;
}


/* DEPARTMENTS */
.department {
  width: 75%;
  margin: auto;
  padding-bottom: 3rem;
}

.department-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  padding: 0em;
}

.department-picture {
  flex: 1;
  max-width: 200px;
}

.department-text > h3 {
  padding: 0rem 1.5rem;
  margin: 0;
}

.department-text > p {
  padding: 0rem 1.5rem;
}


/* CAREERS */
.careers {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  text-align: center;
}

.careers > section {
  padding: 2rem;
  max-width: 15rem;
}

.careers-cta-container {
  display: flex;
  justify-content: center;
}

.careers-cta {
  border: 2px solid #D34F73;
  background: #fff;
  color: #D34F73;
  border-radius: 50px;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 1rem 2rem;
}

.careers-cta:hover {
  border: 2px solid #D34F73;
  background: #D34F73;
  color: #fff;
}


/* FOOTER */
.page-footer {
  background-color: indianred;
  margin: 0rem;
  padding: 0rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.page-footer > nav > ul {
  margin: 0rem;
}
